{% extends 'base.html' %}

{% block title %} Register Page {% endblock %}

{% block content %}
  <div class="container">
    <div class=" mt-5">
    <div class="card">
    <div class="card-header">
      Register Form
    </div>
    <div class="card-body">
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
       <button type="submit" name="submit" class="btn btn-secondary">Save User</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}